
.mySlideshow {
	/*width: 500px;*/
	margin-left: auto;
	margin-right: auto;
}

.mySlideshow * {
	padding: 0;
	margin: 0;
}


/* ボタン */
.mySlideshow .prev-area {
	display: table;
	float: left;
}

.mySlideshow .prev-area div {
	display: table-cell;
	vertical-align: middle;
}

.mySlideshow .next-area {
	display: table;
	float: left;
}

.mySlideshow .next-area div {
	display: table-cell;
	vertical-align: middle;
}

.mySlideshow div div img {
	cursor: pointer;
}


/* スライドショー */
.mySlideshow ul {
	float: left;
	overflow: hidden;
	position: relative;
}

.mySlideshow ul li {
	display: table;
	position: absolute;
	list-style-type: none;
}

.mySlideshow ul li p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.mySlideshow ul li p img{
}


/* フッター */
.mySlideshow .footer {
	clear: both;
	text-align: center;
}

.mySlideshow .footer img {
	margin: 0 5px;
	cursor: pointer;
}

